<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<% if flash[:notice] %>
		<div class="alert alert-dismissible alert-success">
		  <a href class="close" data-dismiss="alert">x</a>
		  <strong><%= flash[:notice] %></strong>
		</div>
  <% end %>


		

	<div class="container-fluid">

		<% if logged_in? %>
			<h5><%= current_user.email %>
			<%= link_to "Log Out", log_out_path, method: :destroy, class: 'btn btn-warning btn-xs', style: 'margin-bottom: 10px; float: right;' %></h5>
		<% else %>
			<h5><%= link_to "Sign Up", sign_up_path %> |
			<%= link_to "Log In", new_session_path %></h5>
		<% end %>
	</div>

	<% if @location.nil? %>

		<% yield %>

	<% elsif @location.id == 1 %>

		<title>Chapter 1: The Apartment</title>
		<img src="https://s-media-cache-ak0.pinimg.com/736x/78/25/3c/78253cd09f6666d93fa3b680bea4a1a2.jpg" alt="apartment">
		<h2>Chapter 1: The Apartment</h2>
	<% elsif @location.id == 2 %>
		<title>Chapter 2: The Street</title>
		<img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Destruction_in_a_Berlin_street.jpg" alt="street">
		<h2>Chapter 2: The Street</h2>
	<% elsif @location.id == 3 %>
		<title>Chapter 3: The Edge of Town</title>
		<img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Monte_Cassino.jpg" alt="forest">
		<h2>Chapter 3: Edge of Town</h2>
	<% elsif @location.id == 4 %>
		<title>Chapter 4: The Bunker</title>
		<img src="http://image.naldzgraphics.net/2012/10/26-black-white-dead-tree-forest-scary.jpg" alt="bunker">
		<h2>Chapter 4: The Bunker</h2>
	
	<% end %>

</head>
<body>


	<% if @location.nil? %>

	<% yield %>

	<% else %>

	<%= form_tag("/locations/#{@location.id}", method: "get") do %>
		<%= submit_tag "Story Text" %>
	<% end %>

	<%= form_tag("/locations/#{@location.id}/details", method: "get") do %>
		<%= submit_tag "Look Around" %>
	<% end %>


	<%= form_tag("/locations/#{@location.id}/pickup", method: "get") do %>
		<%= submit_tag "Pick up Item" %>
	<% end %>

	<%= form_tag("/locations/#{@location.id}/current_items", method: "get") do %>
		<% submit_tag "View Inventory" %>
	<% end %>

	<% unless @location.id == 1 %>

		<%= form_tag("/locations/#{@location.id - 1}", method: "get") do %>
			<%= submit_tag "Go to Previous Location" %>
		<% end %>

	<% end %>


	<%= form_tag("/locations/#{@location.id + 1}", method: "get") do %>
		<%= submit_tag "Go to Next Location" %>
	<% end %>

<% end %>




<%= yield %>

</body>
</html>
